<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^masuk\.html$ login.php [L]
RewriteRule ^dashboard\.html$ media.php?module=dashboard [L]
RewriteRule ^profile\.html media.php?module=profile [L]
RewriteRule ^daftar-guru\.html media.php?module=guru&act=list [L]
RewriteRule ^input-guru\.html media.php?module=guru&act=add [L]

RewriteRule ^daftar-nilai-guru\.html media.php?module=nilai&act=list [L]

Options All -Indexes
</IfModule>
